body{
    font-family: sans-serif;
}
.main{
    background-image: url("images/city.jpeg");
    background-size: 100% 80vh;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.typewriter{
    /* width: 0%; */
    /* display: flex;
    flex-direction: row; */
    /* height:70vh; */
    padding:1% 4% 5% 2.5%;
   overflow: hidden;
     border-right:rgba( 0,0,0,0.5);
    white-space: nowrap;
    /* position: relative;
    display: block; */
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */


/* animation-name:typewritter
    animation-duration:4s
    animation-timing-function:steps(44)
    animation-delay;1s
    animation-iteration-count:1
    animation-direction:normal
    animation fill-mode:both */

animation: typewriter 15s steps(144) 1s 1 normal both,
            blinkTextCursor 400ms steps(44) infinite normal;

}

@keyframes typewriter{
    from{
        width: 0;   
    }
    to{
        width: 100% ;
    }
}
@keyframes blinkTextCursor{
    from{
        border-right-color: rgba( 0,0,0,0.5);
    }
    to{
       border-right-color: transparent; 
    }
}
.content{
    background-image: url("images/bubble2.jpeg");
    background-size: 100% 100% ;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 135vh;
    margin-top: -1.8em;
    
}
.content>h1{
    text-align: center;
    padding-top:3%;
}
.forms{
    padding: 2% 42% 5% 13% ;
    width: 85%;
    box-sizing: border-box;
    position: relative;
    transform: rotate(-45deg);
  
}
.shadow{
  width: 50%;
  height: 90vh;
    box-shadow: 1.5rem 1.5rem 1.5rem rgb(17, 17, 204);
    margin-left: 25%;
    /* margin-bottom: -4%; */
    transform: rotate(45deg);
    margin-top: 0%;
}
#btn{
    background-color:rgb(17, 17, 204);
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;

}
button:hover{
    padding: 4em;
    background-color: red;
}
.footer{
    height: 15vh;
    background-color:rgb(17, 17, 204);
    margin-top: -1.2em;
   
}

